<footer id="footer">
  <script type="text/javascript">
    var host = "disinuo.me";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <span id="footer-info" class="inner">
      <span class="post-count"><%= totalcount(site) %>字</span>
      &copy; <%= date(new Date(), 'YYYY') %><%= __('  ^o^ ') %> <%= config.author || config.title %>
    <!-- <%= __('由') %> <a href="http://hexo.io/" target="_blank">Hexo</a><%= __(' 强力驱动') %><br><br> -->
        <a id="footer_git" class="footer-icon" target="_blank" href="https://github.com/disinuo"></a>
        <span id="busuanzi_container_site_uv">本站有<span id="busuanzi_value_site_uv"></span>人来过~
        <span id="busuanzi_container_site_pv" style='display:none'>
          总访问量<span id="busuanzi_value_site_pv"></span>次

          <div class="theme-info">
            <div class="powered-by"></div>
          </div>
  </span>
</span>
</span>
    </span>

  </div>
</footer>
